
.main-header {
  margin-top: 100px;
  display: flex;
  background-color: #e69027;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 400px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar-image {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-user {
  font-size: 1.5em;
  position: relative;
  top: -40px;
  left: 40px;
}


@media only screen and (max-width: 767px) {
  .main-header{
    margin-top: 0px;
    background-color: #e69027;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  .avatar-image {
    margin-top: 3em;
  }

  .header-user {
    font-size: 1.5em;
      top: 0px;
      left: 0px; 
  }
}


@media only screen and (min-width: 768px) {
  .main-header {
    
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 20rem;
    height: 20rem;
    margin-left: 1em;
  }

  .avatar-image {
    display:flex;
    align-content:center;
    margin-top: 80px;  
  }

  .header-user {
    font-size: 1em;
  }


}