/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */

nav {
  display: flex;
  background-color: #4056A1;
  padding-left: 1em;
  padding-right: 1em;
  height: 120px;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}


.navbar {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  font-size: 40px;
}

.tweet-arrow{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-new-tweet {
color:#FFFFFF;
}

.arrow {
  color: red;
  
}


/* can't seem to get the nav to go with the page after it was set to sticky */
@media only screen and (max-width: 767px) {
  nav {
    background-color: unset;
    overflow: unset;
    top:unset;
    z-index: unset;
    position: absolute;

  }

}



